<div>
  <p>Edit Product</p>
</div>

<form (ngSubmit)="onSubmitClicked(productForm.value)" #productForm="ngForm">
  <p>Product Number: {{ productId }}</p>
  <p>Product Date: {{ product.ProductDate }}</p>

  <div class="form-group">
    <label for="name">Product Name: </label>
    <input type="text" ngModel name="name" id="name" required>
  </div>
  <div class="form-group">
    <label for="category">Product Category: </label>
    <select
      id="category"
      class="form-control"
      [ngModel]="currentCategoryName"
      name="category"
      required
    >
      <option *ngFor="let category of categories" [value]="category.categoryName">{{ category.categoryName }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="size">Product Size: </label>
    <select
      id="size"
      class="form-control"
      [ngModel]="currentSizeName"
      name="size"
      required
    >
      <option *ngFor="let size of sizes" [value]="size.sizeName">{{ size.sizeName }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="quantity">Available Quantity: </label>
    <input type="text" ngModel name="quantity" id="quantity" required>
  </div>
  <div class="form-group">
    <label for="price">Price: </label>
    <input type="text" ngModel name="price" id="price" required>
  </div>
  <div class="form-group">
    <textarea class="form-control" name="description" rows="3" ngModel></textarea>
  </div>
  <button
    class="btn btn-primary"
    type="submit"

  >Save</button>
  <button routerLink="../../">Cancel</button>
</form>
