<h1>Products</h1>

<a [routerLink]="[products.length + 1, 'new']" >New Product</a>

<div>
  <thead>
    <tr>
      <td>ProductId</td>
      <td>Product Name</td>
      <td>Product Category</td>
      <td>Product Size</td>
      <td>Product Quantity</td>
      <td>Product Price</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td><a [routerLink]="[product.productId]">{{product.productId}}</a></td>
      <td>{{product.name}}</td>
      <td>{{product.categoryName}}</td>
      <td>{{product.sizeName}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.price}}</td>
      <td><button (click)="onDeleteClicked(product.productId)">Delete</button></td>
    </tr>
  </tbody>
</div>
