/* You can add global styles to this file, and also import other style files */

.custom-container {
  margin: 2% 20%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.custom-table{
  text-align: center;
}

.custom-table-thead {
  background-color: #0547b0;
  color: white;
}

.custom-btn {
  margin-bottom: 3px;
  min-width: max-content;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-valid.ng-touched {
  border: 1px solid green;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-valid.ng-touched {
  border: 1px solid green;
}
