<h1>Create Order</h1>

<div>
  <p>Order Number: {{orders.length + 1}}</p>
  <p>Order Date: {{date}} </p>
  <p>Select a Customer: <select  name="customer" id="customerSelect">
    <option *ngFor="let customer of customers" value="">{{customer.name}}</option>
  </select> </p>
  <p>Select order Status: <select name="status" id="orderStatusSelect">
    <option *ngFor="let status of statuses" value="">{{status.statusName}}</option>
  </select></p>

  <thead>
    <tr>
      <td>Product Id</td>
      <td>Product Name</td>
      <td>Product Category</td>
      <td>Product Size</td>
      <td>Quantity</td>
      <td>Price</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.productId}}</td>
      <td>{{product.name}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.price}}</td>
    </tr>
  </tbody>

  <input type="text">

</div>
