.customers-container {
  margin: 0px 50px 0px 50px;
}

.customers-header {

}

.customers-table-thead {
  background-color: #0547b0;
  color: white;
}

.customers-table {
  text-align: center;
  border: solid 2px black;
  border-radius: 5px;
}

.customers-table-head {
  border: solid 2px black;
  border-radius: 10px;
}

