<div class="customers-container">
  <div class="customers-header">
    <div class="row justify-content-between">
      <div class="col-4">
        <h3>Customers</h3>
      </div>
      <div class="col-1">
        <a routerLink="new" >New Customer</a>
      </div>
    </div>
  </div>
  <div>
    <table class="table customers-table">
      <thead class="customers-table-thead">
      <tr>
        <td class="customers-table-head" width="30%">Customer Name</td>
        <td class="customers-table-head" width="30%">Customer Address</td>
        <td class="customers-table-head" width="20%">Total Orders Sum</td>
        <td class="customers-table-head" width="20%">Total Orders</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td class="customers-table-head" scope="row">{{customer.name}}</td>
        <td class="customers-table-head" scope="row">{{customer.address}}</td>
        <td class="customers-table-head" scope="row">{{customer.totalUserSum}}</td>
        <td class="customers-table-head" scope="row">{{customer.totalOrders}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



