<div class="custom-container">
  <form class="form-group" (ngSubmit)="onSubmitClicked(orderForm.value)" #orderForm="ngForm">
    <div class="row justify-content-between">
      <h3 class="col-4">Create Order</h3>
      <div class="col-1 btn-group-custom">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!orderForm.valid"
        >Save</button>
        <button class="btn btn-primary" routerLink="../../">Cancel</button>
      </div>
    </div>
    <p>Order Number: {{ currentOrder.orderId }}</p>
    <p>Order Date: {{ formattedDate }}</p>
    <div class="form-group">
      <label for="customer">Customer: </label>
      <select
        id="customer"
        class="form-control"
        [ngModel]="currentOrder.customerId"
        name="customer"
        required
      >
        <option *ngFor="let customer of customers" [value]="customer.customerId">{{ customer.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="status">Status: </label>
      <select
        id="status"
        class="form-control"
        [ngModel]="currentOrder.statusId"
        name="status"
        required
      >
        <option *ngFor="let status of statuses" [value]="status.statusId">{{ status.statusName }}</option>
      </select>
    </div>
    <p>Total Cost: $ {{ totalCost }}</p>
    <div class="form-group">
      <label for="comment">Comment: </label>
      <textarea class="form-control" id="comment" name="comment" rows="3" ngModel>{{ currentOrder.comment }}</textarea>
    </div>
    <button class="btn btn-primary"
            (click)="onAddProductClicked(orderForm.value)">Add Products to Order</button>
    <div *ngIf="chosenProducts.length < 1">
      <p>There's no elements to display (yet). Press "Add Products to Order"</p>
    </div>
    <div *ngIf="chosenProducts.length >= 1">
      <table>
        <thead>
        <tr>
          <td>Product Id</td>
          <td>Product Name</td>
          <td>Product Size</td>
          <td>Quantity</td>
          <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of chosenProducts">
          <td>{{product.ProductId}}</td>
          <td>{{product.ProductName}}</td>
          <td>{{product.ProductSizeId}}</td>
          <td>{{product.Quantity}}</td>
          <td>{{product.Price}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
